@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.sachin-career-heading {
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5em;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    -moz-transform: skew(0, -6.7deg);
    -ms-transform: skew(0, -6.7deg);
    -webkit-transform: skew(0, -6.7deg);
    transform: skew(0, -6.7deg);
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.about-sachin{
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.7);
    -moz-transform: skew(0, -6.7deg);
    -ms-transform: skew(0, -6.7deg);
    -webkit-transform: skew(0, -6.7deg);
    transform: skew(0, -6.7deg);
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    /* clip-path: polygon(0 0, 100%, 0, 100% 100%, 0 calc(100%, 0)); */
    -webkit-clip-path: polygon(0 0, 100% 11%, 100% 89%, 0% 100%);
    clip-path: polygon(0 0, 100% 11%, 100% 89%, 0% 100%);
    width: 250px;
    background: #dc8;
    margin-top: 150px;
}


.sachin-description {
    max-width: 90%;
    margin: -.666rem auto;
    background: #dc8;
    padding: 4rem 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    /* clip-path: polygon(0 2.4rem, 100%, 0, 100% 100%, 0 calc(100% - 1.4rem)); */
    -webkit-clip-path: polygon(0 0, 100% 11%, 100% 89%, 0% 100%);
    clip-path: polygon(0 0, 100% 11%, 100% 89%, 0% 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.sachin-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sachin-description-text{
    padding: 40px;
    text-align: left;
}

@media (max-width: 650px) {
    .sachin-description {
        margin: 1em;
    }
}

@media (max-width: 600px) {
    .sachin-description {
        display: flex;
        flex-direction: column;
    }

    .sachin-description-text{
        padding: 30px;
        text-align: center;
    }
}


@media (max-width: 449px) {
    .sachin-career-heading {
        font-size: 3em;
    }
}

